# -------------------------------------------------
# Battenberg config file
# written by Anna Frangou & Alex J. Cornish
# -------------------------------------------------
min.base.qual = 20 # used in getAlleleCounts()
min.map.qual = 35 # used in getAlleleCounts()
#region.size = 5000000 # was used in combine.impute.output()
min.normal.depth = 10 # used in GetChromosomeBAFs(), getBAFsAndLogRs()
seed = 123 # used in gc.correct.wgs(), run.impute(), callSubclones()
seg.gamma = 10 # used in segment.baf.phased(), callSubclones()
phase.gamma = 1 # used in segment.baf.phased()
kmin = 3 # used in segment.baf.phased()
phasekmin = 1 # used in segment.baf.phased()
min.purity = 0.02 # used in fit.copy.number() TRY REDUCING THIS (original was 0.13, may be a hangover from older samples with lower depth)
max.purity = 1.02 # used in fit.copy.number()
clonality.dist.metric = 0 # used in fit.copy.number()
ascat.dist.metric = 1 # used in fit.copy.number()
min.goodness.of.fit = 0.63 # used in fit.copy.number()
balanced.threshold = 0.51 # used in fit.copy.number()
platform.gamma = 1 # used in fit.copy.number(), callSubclones()
read.depth = 30 # used in fit.copy.number()   
max.cn.state = 250 # used in callSubclones()
siglevel.subclones = 0.05 # used in callSubclones()
maxdist.subclones = 0.01 # used in callSubclones()
noperms.subclones = 1000 # used in callSubclones()
