# -------------------------------------------------
# DPClust config file
# written by Alex J. Cornish
# -------------------------------------------------
niter = 1000 # from Anna's script, used in DirichletProcessClustering()
conc.param = 1 # from Anna's script, used in DirichletProcessClustering()
cluster.conc = 5 # from Anna's script, used in DirichletProcessClustering()
mut.assignment.type = 1 # from Anna's script, used in DirichletProcessClustering()
max.considered.clusters = 30 # from Anna's script, used in DirichletProcessClustering()
