# -------------------------------------------------
# peak calling config file
# -------------------------------------------------
chrs = paste0("chr", 1:22) # only include autosomes to be safe
states = c("1:0", "1:1", "2:0", "2:1", "2:2") # copy number states to consider        
thres.peaks.y = 0.3 # peaks in copy-state-specific raw VAF distribution with density less than this not considered
thres.peak.prop.n = 0.05 # proportion of mutations in karyotype for it to be considered
