# -------------------------------------------------
# QC config file
# written by Alex J. Cornish & Anna Frangou
# -------------------------------------------------

# general
chrs = paste0("chr", c(1:22, "X")) # chromosomes to consider
autosomes = paste0("chr", c(1:22)) # autosomes to consider
pval.subclonal = 0.05 # P-value at which segments are called as subclonal

# thresholds
thres.purity.diff = 0.05 # samples rerun if purity difference is greater than this

thres.chrsizeincorrect.tol = 0.5 # samples with Battenberg output chromosomes less than this fraction of true size flagged, chosen by comparing to Anna's QC. This should be as low as 0.5 because otherwise we might exclude homozygous individuals. Chosen not to do length of total genome for the same reason - this covers it anyway.

thres.homodel.homodellargest = 1E7 # chosen by looking at enrichment/depletion of genes essential to glioma within homozygous deletions of various sizes called in v8 glioma samples. 10MB has been usedfor a long time so sticking with it.

thres.propmuts = 0.01 # clusters contains less than this proportion of total mutations are not considered, Anna suggested 0.01 but this resulted in many noisy clusters being considered. Alex was using 0.05, this is used for superclonal clusters and clusters sitting at 0.5 in optimaInfo (which are used to either fail a sample or suggest it be tetraploid respectively).
thres.propmuts.superclonal.or.tetra = 0.05 # separate threshold for clusters sitting superclonally, or those sitting at 50% CCF when checking for samples called as diploid that could be tetraploid.
thres.clonalpeak.lower = 0.95 # lower CCF threshold for clonal peaks - shrunk this from 0.9 as we can correct small errors with a DPClust purity adjustment at the end
thres.clonalpeak.upper = 1.05 # upper CCF threshold for clonal peaks - shrunk this from 1.1 as we can correct small errors with a DPClust purity adjustment at the end
thres.50pcpeak.lower = 0.45 # lower CCF threshold for 50% clusters
thres.50pcpeak.upper = 0.55 # upper CCF threshold for 50% clusters
thres.clonalpeak.lower.wide = 0.9 # wider boundary when double dpclust peaks for clonal peak
thres.clonalpeak.upper.wide = 1.1 # wider boundary when double dpclust peaks for clonal peak
thres.50pcpeak.lower.wide = 0.4 # wider boundary when double dpclust peaks for 50% clusters
thres.50pcpeak.upper.wide = 0.6 # wider boundary when double dpclust peaks for 50% clusters


thres.incorrecttetraploid.copynumber22or33 = 0.2 # same as PCAWG uses to define WGD samples, chosen through review of dodgy samples after running CakeTin in RCC GeCIP
thres.incorrecttetraploid.peak.diff = 0.05 # VAF difference allowed when matching expected peak corresponding to a multiplicity of 1 in 2:2 regions
thres.incorrecttetraploid.cnodd = 0.10 # Alex chose 0.1 through review of dodgy samples after running CakeTin in RCC GeCIP, Anna used 0.01 but many more samples looked dodgy. Anna keeping it higher at 0.15 to be more conservative in catching those which shouldn't be tetraploid - simplest explanation is diploid unless strong proof otherwise 

tol.around.point5 = 0.05 # tolerance value to identify segments around .5

thres.incorrectdiploid.aroundpoint5 = 0.15 # Alex chose 0.25 by comparing to my original QC but ones included looked OK, he has also tried 0.3, changing to 0.15 here as tolerance around 0.5 has shrunk to 0.05 from 0.1, so proportion allowed in that bracket also halved

# to mark those with total length homdel >10MB as flag
# and those with total length homdel >100MB as fail
thres.homodel.homodelall.flag = 10000000
thres.homodel.homodelall.fail = 100000000
