# -------------------------------------------------
# reports config file
# written by Alex J. Cornish
# -------------------------------------------------
chrs = paste0("chr", 1:22)
states = c("1:0", "1:1", "2:0", "2:1", "2:2")
n.runs.max = 4 # maximum number of runs completetd
colors = c(
    'Battenberg Run 1'='steelblue',
    'Battenberg Run 2'='forestgreen',
    'Battenberg Run 3'='darkorange',
    'Battenberg Run 4'='hotpink'
)
filters.pretty = c(
    chrmissing="Chromosome(s) missing",
    chrsizewrong="Chromosome(s) incorrect size",
    homodeletions="Large homozygous deletions",
    vafpeaks="VAF distribution peaks",
    incorrectdiploid="Incorrect diploid call",
    incorrecttetraploid="Incorrect tetraploid call",
    lowtumourprohibitscalling="Low tumour",
    noclonalpeak="No clonal peak",
    superclonalpeaks="Super clonal peak(s)",
    overallfilter="Final filter"
)
thres.peak.prop.n = 0.05 # for the raw VAF distribution peak filter only consider copy number states containing at least this proportion of total mutations 
thres.peaks.y = 0.3 # peaks with density below this threshold are not coloured