process {
    executor = 'slurm'
    time = '48h'
    cpus = 1
    memory = '4GB'
    withName: 'rerun.*_stage1_fit_copy_number' { memory = '12GB' }
    withName: '.*_dpclust' { memory = '4GB' }
    withName: '.*_vaf_peaks' { memory = '4GB' }
}

executor {
    name = 'slurm'
    queueSize = 200
    submitRateLimit = '3 sec'
}

params {
    help = false
    min_ploidy_full = 1.6
    max_ploidy_full = 4.8
}
